@model IEnumerable<OCVM.ViewModels.PersonalView>
@{
    ViewData["Title"] = "PersonalDetail";
    Layout = "~/Views/Shared/_OutPageLayout.cshtml";
}

@foreach (var p in Model)
{
    @Html.Partial("PersonalPartial", p)
}

 @*<div class="pagination-container">
            <nav class="pagination">
                <ul>
                    <li><a href="#" class="current-page">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="blank">...</li>
                    <li><a href="#">8</a></li>
                </ul>
            </nav>

            <nav class="pagination-next-prev">
                <ul>
                    <li><a href="#" class="prev">Previous</a></li>
                    <li><a href="#" class="next">Next</a></li>
                </ul>
            </nav>
        </div>*@