@model OCVM.ViewModels.ContactVm
@{
    Layout = "~/Views/Shared/_UserDashboard.cshtml";

}
<div class="container">

    <div class="col-sm-6">
        <h2><i class="fa fa-plus-circle"></i> Contact Information</h2>
    </div>

</div>
<hr />



<div class="container">
    <form asp-controller="Contact" asp-action="Create" method="post" class="form-horizontal" role="form">
        <!-- Text input-->
        <div class="form-group">
            <label class="col-sm-3 control-label">You are</label>
            <div class="col-sm-6">
                <select asp-for="Contact.PersonalID" class="form-control" asp-items="@ViewData["Pid"] as List<SelectListItem>"></select>
            </div>
        </div>
        <div id="field">
            <div id="field0">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Career Objective</label>
                    <div class="col-sm-6">
                        <input asp-for="Contact.Objective" class="form-control input-lg m-bot15" placeholder="write your career objective " />
                        <span asp-validation-for="Contact.Objective" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Expected Salary</label>
                    <div class="col-sm-6">
                        <input asp-for="Contact.ExpectedSalary" class="form-control" placeholder="your current location " />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Job Type</label>
                    <div class="col-sm-6">
                        <select asp-for="Contact.PrepearedJob" class="form-control" placeholder="">
                            <option>Entry Level </option>
                            <option>Mid Level </option>
                            <option>Top Level </option>
                            <option>Part Time </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email Address</label>
                    <div class="col-sm-6">
                        <input asp-for="Contact.Email" class="form-control" placeholder="example@examle.com" />
                        <span asp-validation-for="Contact.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"> Your Phone Number</label>
                    <div class="col-sm-6">
                        <input asp-for="Contact.PhoneNumber" class="form-control" placeholder="+88 01842661999" />
                        <span asp-validation-for="Contact.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"> Linkedin Profile Url</label>
                    <div class="col-sm-6">

                        <input asp-for="Contact.LinkdInUrl" class="form-control" placeholder="www.linkedin.com/emib" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Permanent Address</label>
                    <div class="col-sm-6">
                        <input asp-for="Contact.PermanentAddress" class="form-control input-lg m-bot15" placeholder="your permanent address" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Present Address</label>
                    <div class="col-sm-6">
                        <input asp-for="Contact.presentAddress" class="form-control input-lg m-bot15" placeholder="your present address" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Current Location</label>
                    <div class="col-sm-6">
                        <input asp-for="Contact.CurrentLocation" class="form-control" placeholder="your current location " />
                    </div>
                </div>

            </div>
        </div>
        <!-- Button -->
        <div class="form-group">

         
            <div class="btn btn-group col-sm-offset-3">
                <input class="btn btn-info" type="submit" value="Return" asp-controller="Home" asp-action="Index" />
                <button class="btn btn-primary" type="submit" asp-controller="Contact" asp-action="Create">Save & Continue &nbsp;<i class="fa fa-arrow-circle-right"></i></button>
            </div>

        </div>

    </form>
</div>
<hr />
<br />
<br />
